{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="div1">
    <h1 class="h1">Petshop melhor amigo</h1>
    <br>
    <p>tester
    </p>
    </div>
    <div class="tester">
        <p> ssssssssssssss</p>
    </div>
    
    <div class="div2">
    <footer>
        <p>Petshop melhor amigo</p>
        <p aria-level="2">since 2024</p>
    </footer>
    </div>
    
</body>
</html>