h1{
    color: black;
    align-self: center;
    text-align: center;
}
#h1{
    color: blue;
}


.div1{
    align-items: baseline;
    vertical-align: middle;
    text-decoration: double;
    text-shadow: 0cqb;
    text-align: center;
}
.div2{
    text-align: center;
    color-scheme: blue;
}
.tester{
    background: black;
    background-color: aqua;
}


