{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Projeto</title>
</head>
<body>
    <h1>Petshop melhor amigo</h1>
    {% for equipe in nome['times']['equipe']%}
    <p>{{ equipe }}</p>
    {% endfor %}

    <div class='div1'>
        <h2>Nossos serviços </h2>
        { for c servico in servicos_oferecidos['serviços']}
            <p>{ c }</p>
        { endfor }
    </div>
    
</body>
</html>